<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Welcome to krueger</title>
  </head>
  <body>

    <div id="app"></div>

    <!-- scripts and styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css"/>
    {% style "/assets/font-awesome/css/all.css" %}
    {% style "/css/screen.css" %}

    <!-- {% script "/assets/jquery/jquery.min.js" %} -->
    {% script "/assets/font-awesome/js/all.js" %}

    <script type="text/javascript">
        var csrfToken = "{{csrf-token}}";
        var user = {{user|json|safe}};
        var locale = {{locale|json|safe}};
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
